.container {
  /* background-color: rgb(137, 137, 220); */
  height: 600px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px; /* khoảng cách giữa 2 bên */
}

.leftContainer {
  flex: 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid red; */
  padding: 20px;
}

.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "JetBrains Mono", monospace;
  color: #d9f3ee;
}

.subtitle {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "JetBrains Mono", monospace;
  color: #d9f3ee;
}

.description {
  font-size: 20px;
  margin-bottom: 20px;
  font-family: "JetBrains Mono", monospace;
  color: #d9f3ee;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  /* padding-left: 10px; */
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-left: 20px;
}

.button{
    width: 150px;
    height: 40px;
    background-color: #4ef2c8;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #032221;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rightContainer {
  flex: 4;
  /* border: 1px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
}


