.container {
  height: 700px;
}

.heading {
  color: #e6fffa;
  font-family: "JetBrains Mono", monospace;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.imgContainer {
  flex: 4;
  height: 600px; /* khóa chiều cao */
  overflow: hidden;
  /* border: 1px solid red; */
}

.slideImg {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 12px;
}

.infoContainer {
  flex: 6;
  /* border: 1px solid red; */
  padding: 20px;
}

.projectName {
  font-size: 22px;
  font-weight: bold;
  color: #d9f3ee;
  font-family: "JetBrains Mono", monospace;
  margin-bottom: 20px;
  text-align: center;
}

.projectInfo {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; */
}

.projectInfo h3 {
  font-size: 16px;
  font-weight: bold;
  color: #d9f3ee;
  font-family: "JetBrains Mono", monospace;
}

.description {
  padding: 10px;
}

.plusList {
  list-style: none; /* bỏ dấu chấm mặc định */
  padding-left: 0;
}

.plusList li {
  margin-bottom: 8px;
  position: relative;
  padding-left: 20px;
}

.plusList li::before {
  content: "-";
  position: absolute;
  left: 0;
  color: #d9f3ee;
  font-weight: bold;
}

.plusItem {
  color: #d9f3ee;
  font-size: 15px;
  margin-bottom: 8px;
  font-family: "JetBrains Mono", monospace;
  text-align: justify;
}

.techUse h3 {
  font-size: 16px;
  font-weight: bold;
  color: #d9f3ee;
  font-family: "JetBrains Mono", monospace;
}
