.container {
  /* background-color: aquamarine; */
  height: 600px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  gap: 20px;
}

.leftContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarWrapper {
  position: relative;
  width: 360px;
  height: 480px;
  border-radius: 24px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  box-shadow: 
    0 20px 40px rgba(0, 0, 0, 0.4),
    0 0 30px rgba(0, 255, 200, 0.08);

  transition: all 0.4s ease;
}

.avatarWrapper:hover {
  transform: translateY(-10px);
  box-shadow: 
    0 30px 60px rgba(0, 0, 0, 0.5),
    0 0 40px rgba(55, 220, 184, 0.15);
}

.avatar {
  object-fit: cover;
}

.rightContainer {
  flex: 7;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.introduction {
  padding: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "JetBrains Mono", monospace;
  color: #d9f3ee;
}

.subtitle {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "JetBrains Mono", monospace;
  color: #d9f3ee;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
  font-family: "JetBrains Mono", monospace;
  color: #d9f3ee;
  text-align: justify;
}

/* .skill {
} */
